:root {
  --text: #170d2a;
  --background: #f0f7f7;
  --background-secondary: #ECF2FF;
  --primary: #2aabda;
  --secondary: #fcfdfd;
  --accent: #5951b2;  
  --link: #e67207;

  color: var(--text);
  box-sizing: border-box;
  background-color: var(--background);
}

.dark {
  --text: #ECF2FF;
  --background: #170d2a;
  --background-secondary: #14618d;
  --primary: #46bae4;
  --secondary: #273a3a;
  --accent: #bebbe1;
  --link: #f19b2a;
  color: var(--text);
  background-color: var(--background);
}



