---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../scenes/about-me.astro";
import Technologies from "../scenes/technologies.astro";
---

<Layout title="Shanil De Silva ">
  <main>
    <h1>Web Developer - Shanil De Silva</h1>
  </main>
  <AboutMe />
  <Technologies />
</Layout>
