---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import AboutMe from "../scenes/about-me.astro";
import Technologies from "../scenes/technologies.astro";
import Projects from "../scenes/projects.astro";
---

<Layout title="Shanil De Silva - Full stack engineer">
  <main class="flex justify-center flex-col h-screen">
    <div class="text-3xl font-bold">Hi, I'm <span>Shanil De Silva</span></div>
    <h1
      class="text-5xl font-heading font-extrabold bg-blueGradient text-transparent bg-clip-text"
    >
      Full Stack Developer.
    </h1>
    <div class="text-3xl">Specializing in interactive UI development</div>
  </main>
  <Section className="h-screen" title="About Me" id="about">
    <AboutMe />
  </Section>
  <Section className="h-screen" title="Technologies I've used" id="tech">
    <Technologies />
  </Section>
  <Section className="h-screen" title="Projects & Experience" id="projects">
    <Projects />
  </Section>
</Layout>
