---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../scenes/about-me.astro";
import Technologies from "../scenes/technologies.astro";
---

<Layout title="Shanil De Silva - Full stack engineer">
  <main>
    <h1 class="text-primary font-extrabold text-5xl">Shanil De Silva</h1>
    <h2 class="text-secondary">Full Stack Developer</h2>
  </main>
  <AboutMe />
  <Technologies />
</Layout>
