---
interface Props {
  id: string;
  title: string;
  className?: string;
}
const { id, title, className = "" } = Astro.props;
---

<section id={id} class={`${className}`}>
  <h2
    class="font-heading text-3xl mb-4 bg-blueGradient bg-clip-text text-transparent mt-[60px]"
  >
    {title}
  </h2>
  <div>
    <slot />
  </div>
</section>
