<div>
  <p class="mb-2">
    Experienced web developer, specializing in building intuitive and user
    friendly User Interfaces. I have 3 years of experience delivering production
    grade software for a variety of clients.
  </p>
  <p class="mb-2">
    Collaborated with international teams to create impactful software solutions
    utilized by thousands. Proficient in orchestrating development efforts for
    user interfaces, ranging from small-scale projects to large-scale endeavors.
    Thrives in close collaboration with designers to transform their visions
    into interactive realities.
  </p>
  <p class="mb-2">
    I am currently completing my Bachelors in Engineering part time and I have a
    Bachlors in Business - Major in finance and managment
  </p>
</div>
