<div class="flex flex-col gap-y-8">
  <div>
    <h4 class="font-bold text-xl mb-2">
      Full stack development for Insurance broker
    </h4>
    <p class="mb-2">
      Contributed primarily to the UI development of the brokerage platform,
      which comprised an integrated backend operations platform, a B2B portal
      for client management, and a customizable web application for displaying
      plans and benefits. Played a pivotal role in the company's transition from
      internal software to a SaaS model, leading the development of a unified UI
      that seamlessly integrated three distinct platforms and portals. I
      actively participated in API development and some Backend Engineering for
      the platform.
    </p>
    <p class="font-semibold">
      Technologies: <span class="text-accent"
        >React, Javascript, TypeScript, Java, Springboot, Mongodb
      </span>
    </p>
  </div>
  <div>
    <h4 class="font-bold text-xl mb-2">
      Frontend Engineer for FinTech Company
    </h4>
    <p class="mb-2">
      I worked directly with an engineering team based in Singapore,
      contributing to UI development. I contributed to the expansion of a
      consumer-focused web application into a new geographical region. This
      involved adapting the user interface to cater to the new region while
      maintaining a common design to be used in multiple regions and languages.
      I also worked on incrementally migrating the old web application to the
      Next.js-based application while revamping core functionalities of the
      application.
    </p>
    <p class="font-semibold">
      Technologies: <span class="text-accent"
        >React, TypeScript, Tailwind, NextJs, NestJs</span
      >
    </p>
  </div>
  <div>
    <h4 class="font-bold text-xl mb-2">Sudoku Solver</h4>
    <p class="mb-2">
      An application that takes Sudoku puzzles as inputs and uses a brute force
      algorithm to test solutions and calculates answers for Sudoku puzzles
    </p>
    <p class="font-semibold">
      Technologies: <span class="text-accent">React, Javascript</span>
    </p>
  </div>
</div>
