---
import "../styles/default.css";
import NavBar from './NavBar.astro'
interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<!-- TODO: light mode -->
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Full stack engineer based in Sri Lanka, specializing in UI development using React."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body class="h-screen bg-default overflow-auto">
    <NavBar />
    <slot />
  </body>
  <footer>
    <div class="text-primary">
      Built using <a href="https://astro.build/" target="_blank">Astro</a>
    </div>
  </footer>
</html>

<style is:global>
@import url('https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@500&family=Varela+Round&display=swap');
  :root {
  }
  html {
    font-family: 'Varela Round', sans-serif;
    background: var(--bg-default);
    background-size: 224px;
  }
  .heading-s {
    font-family: 'REM', sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
