---
import "../styles/default.css";
import { NavBar } from "./NavBar";
import { ThemeWrapper } from "./ThemeWrapper";
interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Full stack engineer based in Sri Lanka, specializing in UI development using React."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body class="h-full overflow-auto">
    <ThemeWrapper client:load>
      <div>
        <div class="fixed top-0 bg-default w-full">
          <NavBar client:load />
        </div>
        <div class="mx-5 pt-2 max-w-5xl md:mx-auto px-6 bg-default">
          <slot />
        </div>
      </div>
    </ThemeWrapper>
  </body>
  <ThemeWrapper client:load>
    <footer class="py-6 text-xs w-full flex justify-center">
      <div class="text-primary">
        Developed by Shanil De Silva, built using <a
          href="https://astro.build/"
          class="underline cursor-pointer text-link"
          target="_blank">Astro</a
        >
      </div>
    </footer>
  </ThemeWrapper>

  <style is:global>
    @import url("https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=REM:wght@500&family=Varela+Round&display=swap");
    :root {
    }
    html {
      font-family: "'Poppins'", sans-serif;
      background: var(--bg-default);
      background-size: 224px;

      /* Dark mode transition */
    }
    body * {
      transition: background-color 0.2s linear, color 0.02s linear;
    }
    .heading-s {
      font-family: "REM", sans-serif;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  </style>
</html>
