<nav>
    <ul>
        <li>
            <a href="#main" >Shanil De Silva</a>   
            <a href="#about-me" >About </a>   
            <a href="#tech">Technologies</a>
            <a href="#projects">Projects</a>
            <a href="#projects">Contact</a>
        </li>
    </ul>
</nav>